<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a class="btn btn-primary btn-xs"
						th:href="@{'/cuenta/form/' + ${cliente.id}}"
						th:text="'crear cuenta'"></a>
				</h4>

				
				<ul class="list-group">
					<li class="list-group-item active" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(cliente.cuentas)}"
					class="alert alert-info my-4"
					th:text="'No hay cuentas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<table th:if="${not #lists.isEmpty(cliente.cuentas)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th>cuenta</th>
							<th>fecha</th>
							<th>ver</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cuenta: ${cliente.cuentas}">
							<td th:text="${cuenta.id}"></td>
							<td th:text="${cuenta.numero}"></td>
							<td th:text="${cuenta.createAt}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{'/cuenta/ver/' + ${cuenta.id}}" th:text="'detalle'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{'/cuenta/eliminar/' + ${cuenta.id}}"
								th:text="'eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar la cuenta?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>